# WhatsApp Configuration
WHATSAPP_TOKEN=
PHONE_NUMBER_ID=
VERIFY_TOKEN=

# Google Cloud Configuration
PROJECT_ID=
LOCATION=
GCS_BUCKET=

# Gemini API Key
GEMINI_API_KEY=

# Adzuna API for Job Search
ADZUNA_APP_ID=
ADZUNA_APP_KEY=
